<h2 class="text-center mb-3 lg:mb-4">📚 Trouvez la recette parfaite !</h2>

<!-- Search bar -->
  <div class="text-center mb-3">
    <%= form_tag recipes_path, method: :get do %>
      <%= text_field_tag :query, params[:query], class: "w-56 rounded-full px-4 py-2 text-xs italic md:w-80", placeholder: "Cherchez une recette..." %>
      <%= button_tag type: 'submit', class: "ml-2 rounded-full bg-new-black text-lila-deep h-8 w-8 text-center" do %>
        <i class="fas fa-search"></i>
      <% end %>
    <% end %>
  </div>
<!-- Fin search bar -->

<!-- Category buttons -->
  <div class="text-center mb-4 md:mb-8">
    <%= link_to 'EZPZ', recipes_path(category: 'EZPZ'), class:"px-2 py-1 rounded-full text-xxs border-solid border border-new-black mr-1" %>
    <%= link_to 'Classique', recipes_path(category: 'Classique'), class:"px-2 py-1 rounded-full text-xxs border-solid border border-new-black mr-1" %>
    <%= link_to 'Mastet chef', recipes_path(category: 'Master chef'), class:"px-2 py-1 rounded-full text-xxs border-solid border border-new-black mr-1" %>
    <%= link_to 'Dessert', recipes_path(category: 'Dessert'), class:"px-2 py-1 rounded-full text-xxs border-solid border border-new-black" %>
  </div>
<!-- Cards recipies -->
  <div class="h-86 overflow-scroll md:h-104 md:mb-5">
    <%= render 'cards-recipes', recipes: @recipes %>
  </div>
<!-- Fin cards -->


<!-- MENU BAR -->
  <%= render 'shared/menubar' %>
