<div class="bg-creme rounded-full h-16 mt-3.5 mb-5 flex items-center justify-center sticky shadow-md md:w-96 md:mx-auto">
  <%= link_to recipes_path do %>
    <%= image_tag "search.png", class:"h-8 pr-6" %>
  <% end %>

  <%= link_to recipes_path do %>
    <%= image_tag "books.png", class:["h-8 pr-6", ("opacity-50" if request.path == recipes_path)] %>
  <% end %>

  <div class="bg-creme rounded-full h-20 w-20 -mt-4 flex items-center justify-center">
    <%= link_to new_recipe_path do %>
      <%= image_tag "plus.png", class:["h-14", ("opacity-50" if request.path == new_recipe_path)] %>
    <% end %>
  </div>

  <%= link_to my_recipes_path do %>
    <%= image_tag "memo.png", class:["h-8 pl-6 pr-6", ("opacity-50" if request.path == my_recipes_path)] %>
  <% end %>

  <%= link_to recipes_favorites_path do  %>
    <%= image_tag "heart.png", class:["h-8", ("opacity-50" if request.path == recipes_favorites_path)] %>
  <% end %>
</div>
