<div class="bg-lila-deep py-6 px-6 rounded-md shadow-creme mt-14">
  <h2 class="text-lg text-center mb-5">👋 Se connecter</h2>

        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

              <!-- <div class="mb-1"><%= f.label :email, "Email" %></div> -->
              <%= f.input_field :email, placeholder:"Email", required: true, autofocus: true, class:"text-sm rounded-full w-full italic py-1 px-4 mb-4"%>

              <!-- <div class="mb-1"><%= f.label :password, "Mot de passe" %></div> -->
              <%= f.input_field :password, placeholder:"Mot de passe", required: true, autofocus: true, class:"text-sm rounded-full w-full italic py-1 px-4 mb-4" %>

              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

            <div class="text-center mt-5">
              <%= f.button :submit, "Se connecter", class:"text-sm rounded-full bg-new-black text-lila-deep px-4 py-2" %>
            </div>
        <% end %>

</div>

 <%= image_tag "cooks-girl.png", class:"mt-16"%>
