<h2 class="text-center text-lg mb-5">👩‍🍳 Plus qu'à expliquer la préparation !</h2>

  <div class="bg-lila-deep p-2 rounded-md shadow-creme mb-4">

    <div class="mx-4 my-4">

      <h3 class="text-base mt-4 mb-3">Ajoutez une étape de préparation...</h3>

      <%= simple_form_for [@recipe, @step], remote: true do |f| %>
            <div class="">
              <%= f.input_field :description, as: :text, placeholder: "Décrivez chaque étape de la recette...", class: 'rounded-md w-full px-4 py-4 italic text-sm' %>

              <div class="text-right">
                <%= button_tag type:'submit', class:'rounded-full bg-new-black text-lila-deep h-9 w-9 text-center' do %>
                  <i class="fas fa-plus-circle"></i>
                <% end %>
              </div>
            </div>

      <% end %>

      <!-- Affiche les étapes ajoutés -->
    <% if @recipe.steps.count != 0 %>

      <h3 class="text-base mt-4 mb-2">Les étapes ajoutées ⤵</h3>

      <% i = 0 %>

        <%  @recipe.steps.each do |step| %>
        <% i += 1 %>
        <p class="text-sm ml-2"> <b><%= i %>. </b> <%= step.description %> </p>
        <% end %>

        <div class="mt-10 text-center">
          <%= link_to 'Publier la recette',  recipe_path(@recipe), class:'rounded-full bg-new-black text-lila-deep text-sm px-4 py-2' %>
        </div>

    <% else %>

      <h3 class="text-base mt-4 mb-2">Ajoutez votre première étape ⤴</h3>

    <% end %>

<!-- Fin -->

    </div>


  </div>

