<h2 class="text-center text-lg mb-5">🍳 Modifier les ingrédients !</h2>

  <div class="bg-lila-deep p-2 rounded-md shadow-creme mb-4">

    <div class="mx-4 my-4">
      <h3 class="text-base mt-4 mb-3">Modifier l'ingrédient...</h3>

      <%= simple_form_for [@recipe, @quantity], remote: true do |f| %>
            <div class="">
              <%= f.input_field :q, placeholder: "Quantité", class: 'rounded-full w-32 py-2 px-4 italic text-sm mb-4 mr-4' %>
              <%= f.input_field :mesure, collection: Quantity::MESURE, prompt: "Mesure", class: 'rounded-full w-36 py-2 px-4 italic text-sm mb-3' %>
              <%= f.input_field :ingredient, placeholder: "Nom de l'ingredient", class: 'rounded-full w-60 py-2 px-4 italic text-sm mb-4 mr-2' %>

              <%= f.button :submit, 'Modifier', class:'rounded-full bg-new-black text-lila-deep h-9 w-9 text-center' %>

              <% end %>
            </div>
    </div>
  </div>
