<h2 class="text-center text-lg mb-5 mt-3">🍳 Ajoutez les ingrédients !</h2>

  <div class="bg-lila-deep p-2 rounded-md shadow-creme mb-4">

    <div class="mx-4 my-4">
      <h3 class="text-base mt-4 mb-3">Ajoutez un ingrédient...</h3>

      <%= simple_form_for [@recipe, @quantity], remote: true do |f| %>
            <div class="">
              <%= f.input_field :q, placeholder: "Quantité (ex: 1)", class: 'rounded-full w-32 py-2 px-4 italic text-sm mb-4 mr-4' %>
              <%= f.input_field :mesure, collection: Quantity::MESURE, prompt: "Mesure", class: 'rounded-full w-36 py-2 px-4 italic text-sm mb-3' %>
              <%= f.input_field :ingredient, placeholder: "Nom de l'ingredient (ex: sucre)", class: 'rounded-full w-60 py-2 px-4 italic text-sm mb-4 mr-2' %>

              <%= button_tag type:'submit', class:'rounded-full bg-new-black text-lila-deep h-9 w-9 text-center' do %>
                <i class="fas fa-plus-circle"></i>
              <% end %>
            </div>

      <% end %>

      <!-- Affiche les ingédients ajoutés -->

    <% if @recipe.quantities.count != 0 %>

      <h3 class="text-base mt-4 mb-2">La liste des ingrédients ajoutés ⤵</h3>

        <%  @recipe.quantities.each do |quantity| %>
        <ul class="list-inside list-disc ml-2">
          <% if quantity.mesure == "Pâte(s)" %>
            <li class="text-sm"> <%= quantity.q %> <%= quantity.mesure.downcase%> <%= quantity.ingredient.name.downcase %></li>
          <% elsif quantity.mesure == "(rien)" %>
            <li class="text-sm"> <%= quantity.q %> <%= quantity.ingredient.name.downcase %></li>
          <% else %>
            <li class="text-sm"> <%= quantity.q %> <%= quantity.mesure.downcase  %> de <%= quantity.ingredient.name.downcase %></li>
          <% end %>
        </ul>
        <% end %>

        <div class="mt-10 text-right">
          <%= link_to 'Étape suivante',  new_recipe_step_path(@recipe), class:'rounded-full bg-new-black text-lila-deep text-xs px-4 py-2' %>
        </div>

      <% else %>

        <h3 class="text-base mt-4 mb-2">Ajoutez votre premier ingrédient ⤴</h3>

      <% end %>

      <!-- Fin -->
    </div>


  </div>
