<h2 class="text-center text-lg mb-5">🍳 Ajoutez les ingrédients !</h2>

  <div class="bg-lila-deep p-2 rounded-md shadow-creme">
    <div class="mx-4 my-4">
      <%= simple_form_for [@recipe, @quantity], remote: true do |f| %>
            <div class="">
              <%= f.input_field :q, placeholder: "Quantité", class: 'rounded-full w-36 py-2 px-4 italic mb-4' %>
              <%= f.input_field :mesure, collection: Quantity::MESURE, prompt: "Mesure", class: 'rounded-full w-36 py-2 px-4 italic mb-4' %>
              <%= f.input_field :ingredient, placeholder: "Nom de l'ingredient", class: 'rounded-full w-60 py-2 px-4 italic mb-4' %>

              <%= button_tag type:'submit', class:'rounded-full bg-new-black text-lila-deep px-4 py-2' do %>
                <i class="fas fa-plus-circle"></i>
              <% end %>
            </div>

      <% end %>

      <!-- Affiche les ingédients ajoutés -->

    <h3 class="text-base mt-4 mb-2">Les ingrédients ajoutés</h3>

      <%  @recipe.quantities.each do |quantity| %>
      <ul>
        <% if quantity.mesure == "Pâte(s)" %>
          <li> <%= quantity.q %> <%= quantity.mesure.downcase%> <%= quantity.ingredient.name.downcase %></li>
        <% elsif quantity.mesure == "(rien)" %>
          <li> <%= quantity.q %> <%= quantity.ingredient.name.downcase %></li>
        <% else %>
          <li> <%= quantity.q %> <%= quantity.mesure.downcase  %> de <%= quantity.ingredient.name.downcase %></li>
        <% end %>
      </ul>
      <% end %>

      <!-- Fin -->
      <div class="mt-10 text-right">
        <%= link_to 'Étape suivante',  new_recipe_step_path(@recipe), class:'rounded-full bg-new-black text-lila-deep text-sm px-4 py-2' %>
      </div>
    </div>


  </div>
